@font-face {
    font-family: HelveticaNeueLt;
    src: url(../fonts/helveticaneuelt.eot);
    src: url(../fonts/helveticaneuelt.eot?#iefix) format('embedded-opentype'), url(../fonts/helveticaneuelt.woff) format('woff'), url(../fonts/helveticaneuelt.ttf) format('truetype'), url(../fonts/helveticaneuelt.svg#HelveticaNeueLt) format('svg');
    font-weight: 400;
    font-style: normal
}
/* avalon消除一开始出现的{{}} */
/*.ms-controller, [ms-controller] {*/
    /*display: none*/
/*}*/
/*.mass_sys_log{ display: none; }*/

body {
    font-family: "Microsoft YaHei", "Heiti SC", simhei, "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", Verdana;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
    min-width: 990px
}

body.boxed-layout .wrapper {
    background-color: #2f4050;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
}

.block {
    display: block
}

.clear {
    display: block;
    overflow: hidden
}

a {
    cursor: pointer
}

a:hover, a:focus {
    text-decoration: none
}

hr {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px
}

hr.dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 10px
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600
}

.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, .7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px
}

.dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: 400
}

.btn {
    border-radius: 3px
}

.float-e-margins .btn {
    margin-bottom: 5px
}

.btn-w-m {
    min-width: 120px
}

.btn-success {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff
}

.btn-success.btn-outline {
    color: #1ab394
}

.btn-primary {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #fff
}

.btn-primary.btn-outline {
    color: #1c84c6
}

.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #fff
}

.btn-info.btn-outline {
    color: #23c6c8
}

.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #fff
}

.btn-warning.btn-outline {
    color: #f8ac59
}

.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #fff
}

.btn-danger.btn-outline {
    color: #ed5565
}

.btn-success.btn-outline:hover, .btn-primary.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
    color: #fff
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff
}

.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #fff
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #1f90d8;
    border-color: #1f90d8
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #fff
}

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #26d7d9;
    border-color: #26d7d9
}

.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #fff
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #bababa;
    border-color: #bababa;
    color: #fff
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #ccc;
    border-color: #ccc
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #fff
}

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f9b66d;
    border-color: #f9b66d
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #fff
}

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #ef6776;
    border-color: #ef6776
}

.btn-link {
    color: inherit
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    color: #1c84c6
}

.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    background-image: none
}

.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
    color: #cacaca
}

.btn-white {
    color: inherit;
    background: #fff;
    border: 1px solid #e7eaec
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2
}

.btn-white:active, .btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15) inset
}

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-image: none
}

.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
    color: #cacaca
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s
}

.btn-rounded {
    border-radius: 50px
}

.btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px
}

.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none
}

.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none
}

.label-success, .badge-success {
    background-color: #1ab394;
    color: #fff
}

.label-primary, .badge-primary {
    background-color: #1c84c6;
    color: #fff
}

.label-warning, .badge-warning {
    background-color: #f8ac59;
    color: #fff
}

.label-warning-light, .badge-warning-light {
    background-color: #f8ac59;
    color: #fff
}

.label-danger, .badge-danger {
    background-color: #ed5565;
    color: #fff
}

.label-info, .badge-info {
    background-color: #23c6c8;
    color: #fff
}

.label-inverse, .badge-inverse {
    background-color: #262626;
    color: #fff
}

.label-white, .badge-white {
    background-color: #fff;
    color: #5e5e5e
}

.label-white, .badge-disable {
    background-color: #2a2e36;
    color: #8b91a0
}

.p-xxs {
    padding: 5px
}

.p-xs {
    padding: 10px
}

.p-sm {
    padding: 15px
}

.p-m {
    padding: 20px
}

.p-md {
    padding: 25px
}

.p-lg {
    padding: 30px
}

.p-xl {
    padding: 40px
}

.m-xxs {
    margin: 2px 4px
}

.m-xs {
    margin: 5px
}

.m-sm {
    margin: 10px
}

.m {
    margin: 15px
}

.m-md {
    margin: 20px
}

.m-lg {
    margin: 30px
}

.m-xl {
    margin: 50px
}

.m-n {
    margin: 0 !important
}

.m-l-none {
    margin-left: 0
}

.m-l-xs {
    margin-left: 5px
}

.m-l-sm {
    margin-left: 10px
}

.m-l {
    margin-left: 15px
}

.m-l-md {
    margin-left: 20px
}

.m-l-lg {
    margin-left: 30px
}

.m-l-xl {
    margin-left: 40px
}

.m-l-n-xxs {
    margin-left: -1px
}

.m-l-n-xs {
    margin-left: -5px
}

.m-l-n-sm {
    margin-left: -10px
}

.m-l-n {
    margin-left: -15px
}

.m-l-n-md {
    margin-left: -20px
}

.m-l-n-lg {
    margin-left: -30px
}

.m-l-n-xl {
    margin-left: -40px
}

.m-t-none {
    margin-top: 0
}

.m-t-xxs {
    margin-top: 1px
}

.m-t-xs {
    margin-top: 5px
}

.m-t-sm {
    margin-top: 10px
}

.m-t {
    margin-top: 15px
}

.m-t-md {
    margin-top: 20px
}

.m-t-lg {
    margin-top: 30px
}

.m-t-xl {
    margin-top: 40px
}

.m-t-n-xxs {
    margin-top: -1px
}

.m-t-n-xs {
    margin-top: -5px
}

.m-t-n-sm {
    margin-top: -10px
}

.m-t-n {
    margin-top: -15px
}

.m-t-n-md {
    margin-top: -20px
}

.m-t-n-lg {
    margin-top: -30px
}

.m-t-n-xl {
    margin-top: -40px
}

.m-r-none {
    margin-right: 0
}

.m-r-xxs {
    margin-right: 1px
}

.m-r-xs {
    margin-right: 5px
}

.m-r-sm {
    margin-right: 10px
}

.m-r {
    margin-right: 15px
}

.m-r-md {
    margin-right: 20px
}

.m-r-lg {
    margin-right: 30px
}

.m-r-xl {
    margin-right: 40px
}

.m-r-n-xxs {
    margin-right: -1px
}

.m-r-n-xs {
    margin-right: -5px
}

.m-r-n-sm {
    margin-right: -10px
}

.m-r-n {
    margin-right: -15px
}

.m-r-n-md {
    margin-right: -20px
}

.m-r-n-lg {
    margin-right: -30px
}

.m-r-n-xl {
    margin-right: -40px
}

.m-b-none {
    margin-bottom: 0
}

.m-b-xxs {
    margin-bottom: 1px
}

.m-b-xs {
    margin-bottom: 5px
}

.m-b-sm {
    margin-bottom: 10px
}

.m-b {
    margin-bottom: 15px
}

.m-b-md {
    margin-bottom: 20px
}

.m-b-lg {
    margin-bottom: 30px
}

.m-b-xl {
    margin-bottom: 40px
}

.m-b-n-xxs {
    margin-bottom: -1px
}

.m-b-n-xs {
    margin-bottom: -5px
}

.m-b-n-sm {
    margin-bottom: -10px
}

.m-b-n {
    margin-bottom: -15px
}

.m-b-n-md {
    margin-bottom: -20px
}

.m-b-n-lg {
    margin-bottom: -30px
}

.m-b-n-xl {
    margin-bottom: -40px
}

.space-15 {
    margin: 15px 0
}

.space-20 {
    margin: 20px 0
}

.space-25 {
    margin: 25px 0
}

.space-30 {
    margin: 30px 0
}

.gray-bg {
    background-color: #f3f3f4
}

.white-bg {
    background-color: #fff
}

.navy-bg {
    background-color: #1ab394;
    color: #fff
}

.blue-bg {
    background-color: #1c84c6;
    color: #fff
}

.lazur-bg {
    background-color: #23c6c8;
    color: #fff
}

.yellow-bg {
    background-color: #f8ac59;
    color: #fff
}

.red-bg {
    background-color: #ed5565;
    color: #fff
}

.black-bg {
    background-color: #262626
}

.panel-primary {
    border-color: #1ab394
}

.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394
}

.panel-success {
    border-color: #1c84c6
}

.panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #fff
}

.panel-info {
    border-color: #23c6c8
}

.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #fff
}

.panel-warning {
    border-color: #f8ac59
}

.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #fff
}

.panel-danger {
    border-color: #ed5565
}

.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #fff
}

.progress-bar {
    background-color: #1ab394
}

.progress-small, .progress-small .progress-bar {
    height: 10px
}

.progress-small, .progress-mini {
    margin-top: 5px
}

.progress-mini, .progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 0
}

.progress-bar-navy-light {
    background-color: #3dc7ab
}

.progress-bar-success {
    background-color: #1c84c6
}

.progress-bar-info {
    background-color: #23c6c8
}

.progress-bar-warning {
    background-color: #f8ac59
}

.progress-bar-danger {
    background-color: #ed5565
}

.panel-title {
    font-size: inherit
}

.jumbotron {
    border-radius: 6px;
    padding: 40px
}

.jumbotron h1 {
    margin-top: 0
}

.text-navy {
    color: #1ab394
}

.text-primary {
    color: inherit
}

.text-success {
    color: #1c84c6
}

.text-info {
    color: #23c6c8
}

.text-warning {
    color: #f8ac59
}

.text-danger {
    color: #ed5565
}

.text-muted {
    color: #888
}

.num {
    font-family: HelveticaNeueLt, 'Microsoft YaHei', 'Heiti SC', SimHei
}

li .num, td.num {
    font-size: 13px
}

@media (max-width: 1140px) {
    h1.num {
        font-size: 24px
    }
}

footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0
}

footer p {
    margin: 0
}